.main__result {
  width: 200px;
  height: 100px;
  background-color: #E02173;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.main__text-area {
  width: 500px;
  height: 300px;
}